[submodule "phi-core"]
	path = phi-core
	url = https://github.com/LazyBouy/phi-core.git
[submodule "baby-phi"]
	path = baby-phi
	url = https://github.com/LazyBouy/baby-phi.git
[submodule "i-phi"]
	path = i-phi
	url = https://github.com/LazyBouy/i-phi.git
